/*Quitar advertencia "unkdown at rule @tailwind" => 
1- Abra el archivo CSS donde importa Tailwind CSS
2-Presione Ctrl + Shift + P y busque “cambiar modo de idioma”
3-Dentro de la barra de búsqueda, escriba "tailwindcss" y selecciónelo.
Ahora su archivo CSS está asociado con Tailwind CSS en lugar de CSS normal y las advertencias deberían desaparecer*/

@import "tailwindcss";

@theme {
  /* Colors */
  --color-cream: #fdfcf5;
  --color-linen: #f4f2e9;
  --color-parchment: #e5e2d5;
  --color-stone: #b2ad99;
  --color-ink: #4a483f;
  --color-yellow: #ffde00;
  --color-orange: #ff8c00;
  --color-magenta: #ff007a;
  --color-purple: #7a5fff;
  --color-mint: #55e6c1;
  /* colores asignados */
  --color-button-bg: var(--color-yellow);
  --color-text-primary: var(--color-ink);
  --color-text-strong: var(--color-purple);
  --color-title: var(--color-orange);
  --color-subtitle: var(--color-mint);
  /* Font families */
  --font-hero-title: "Montserrat", sans-serif;
  --font-subtitle: "Space Grotesk", sans-serif;
  --font-button: "Syne", sans-serif;
  --font-body: "Space Mono", monospace;
  --font-cta: "Fira Code", monospace;
  /*dots*/
  --bg-dots-button: radial-gradient(
    var(--color-button-bg) 1.5px,
    transparent 1.5px
  );
  --bg-dots-card: radial-gradient(var(--color-cream) 2px, transparent 2px);
  --bg-dots-hover-card: radial-gradient(
    var(--color-purple) 2px,
    transparent 2px
  );
  --bg-dots-size: 8px 8px;
  /*animacion imagen hero*/
  --animate-fade1: fade1 2s infinite;
  --animate-fade2: fade2 2s infinite;
  --animate-carousel: carousel 45s linear infinite;
}

@keyframes fade1 {
  0%,
  45% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}

@keyframes fade2 {
  0%,
  45% {
    opacity: 0;
  }
  50%,
  100% {
    opacity: 1;
  }
}
/*carrusel para poryectos*/

@keyframes carousel {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@media (min-width: 768px) {
  :root {
    --bg-dots-size: 10px 10px;
    --bg-dots-button: radial-gradient(
      var(--color-button-bg) 2px,
      transparent 2px
    );
  }
}

/* estilos customizados*/
@layer base {
  body {
    @apply bg-linen text-text-primary font-body text-xs md:text-sm;
  }
}
.heroText {
  @apply flex flex-col items-center text-center gap-2.5;
  & h1 {
    @apply text-xl md:text-3xl lg:text-4xl font-hero-title text-text-primary font-extrabold;
  }
  & h2 {
    @apply text-base md:text-xl lg:text-2xl font-hero-title text-text-primary font-extrabold;
  }
  & p {
    @apply w-5/6 text-sm lg:text-base font-subtitle text-text-primary font-bold md:w-4/6;
  }
  & h4 {
    @apply text-xs md:text-sm lg:text-base font-cta text-text-primary;
  }
  & h5 {
    @apply text-[0.6875rem] lg:text-sm font-cta text-text-primary;
    & br {
      @apply block md:hidden;
    }
    & span {
      @apply text-orange;
    }
  }
}
.button-hero {
  @apply text-text-primary font-button font-bold text-xl md:text-2xl lg:text-3xl w-full md:w-2/3 py-1 md:py-4 hover:bg-(--color-button-bg) transition-all duration-300 pointer-events-auto;
  background-image: var(--bg-dots-button);
  background-size: var(--bg-dots-size);
}
.navbar {
  @apply hidden md:flex items-center justify-between py-1 px-6 bg-cream/20 shadow-[0_6px_6px_-4px_rgba(0,0,0,0.3)];
  & img {
    @apply w-10 h-auto lg:w-12;
  }
  & h6 {
    @apply text-xs lg:text-sm font-button font-bold text-text-primary;
  }
}
/* :root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  margin: 0;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
} */
