/*Quitar advertencia "unkdown at rule @tailwind" => 
1- Abra el archivo CSS donde importa Tailwind CSS
2-Presione Ctrl + Shift + P y busque “cambiar modo de idioma”
3-Dentro de la barra de búsqueda, escriba "tailwindcss" y selecciónelo.
Ahora su archivo CSS está asociado con Tailwind CSS en lugar de CSS normal y las advertencias deberían desaparecer*/

@import "tailwindcss";

@theme {
  /* Colors */
  --color-cream: #fdfcf5;
  --color-linen: #f4f2e9;
  --color-parchment: #e5e2d5;
  --color-stone: #b2ad99;
  --color-ink: #4a483f;
  --color-yellow: #ffde00;
  --color-orange: #ff8c00;
  --color-magenta: #ff007a;
  --color-purple: #7a5fff;
  --color-mint: #55e6c1;
  /* colores asignados */
  --color-button-bg: var(--color-yellow);
  --color-text-primary: var(--color-ink);
  --color-text-strong: var(--color-purple);
  --color-title: var(--color-orange);
  --color-subtitle: var(--color-mint);
  /* Font families */
  --font-hero-title: "Montserrat", sans-serif;
  --font-subtitle: "Space Grotesk", sans-serif;
  --font-button: "Syne", sans-serif;
  --font-body: "Space Mono", monospace;
  --font-cta: "Fira Code", monospace;
  /*dots*/
  --bg-dots-button: radial-gradient(
    var(--color-button-bg) 1.5px,
    transparent 1.5px
  );
  --bg-dots-card: radial-gradient(var(--color-cream) 2px, transparent 2px);
  --bg-dots-hover-card: radial-gradient(
    var(--color-purple) 2px,
    transparent 2px
  );
  --bg-dots-size: 8px 8px;
  /*animacion imagen hero*/
  --animate-fade1: fade1 2s infinite;
  --animate-fade2: fade2 2s infinite;
  --animate-carousel: carousel 45s linear infinite;
}

@keyframes fade1 {
  0%,
  45% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}

@keyframes fade2 {
  0%,
  45% {
    opacity: 0;
  }
  50%,
  100% {
    opacity: 1;
  }
}
/*carrusel para poryectos*/

@keyframes carousel {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@media (min-width: 768px) {
  :root {
    --bg-dots-size: 10px 10px;
    --bg-dots-button: radial-gradient(
      var(--color-button-bg) 2px,
      transparent 2px
    );
  }
}

/* estilos customizados*/
@layer base {
  body {
    @apply bg-parchment text-text-primary font-body text-xs md:text-sm;
  }
}
/*ESTILOS COMPONENTES REUTILIZABLES*/
/*seccion de CTA + boton*/
.ctaSection {
  & span {
    @apply text-sm md:text-base lg:text-xl font-cta text-text-primary w-full text-center;
  }
  & button {
    @apply text-text-primary font-button font-bold text-xl lg:text-3xl w-full py-1 lg:py-4 hover:bg-(--color-button-bg) transition-all duration-300 pointer-events-auto;
    background-image: var(--bg-dots-button);
    background-size: var(--bg-dots-size);
  }
}
/*spinner*/
.spinnerContainer {
  @apply w-full h-full flex items-center justify-center;
}
.spinner {
  @apply flex flex-col items-center justify-center;
  & section {
    @apply flex gap-2 lg:gap-4;
    & div {
      @apply w-4 h-4 lg:w-8 lg:h-8 rounded-full animate-pulse bg-subtitle;
    }
  }
  & span {
    @apply text-xs lg:text-base text-title font-cta;
  }
}
/*ESTILOS BACKGROUND HERO Y PROYECTOS*/
.hero-project-container {
  @apply relative  pointer-events-none;
  & picture {
    @apply block w-full relative pointer-events-none;
    & img {
      @apply w-full h-auto object-contain;
    }
  }
}
.heroPictureLayout {
  & picture {
    @apply -top-12 md:top-0  -mb-12 md:mb-0;
  }
}
.projectsPictureLayout {
  & picture {
    @apply top-2 md:-top-22 lg:-top-40 border-2 border-green-500 -mb-12 md:mb-0;
  }
}
/*ESTILOS HERO*/
.heroContent {
  @apply absolute inset-0 w-full flex flex-col;
}
.heroLayout {
  @apply flex flex-col md:flex-row md:grid-cols-3;
}
.sectionHeroText {
  @apply w-full md:w-3/5 flex flex-col gap-0 lg:gap-10 order-2 md:order-1 border-2 border-red-500;
}
.sectionHeroImage {
  @apply w-full md:w-2/5  order-1 md:order-2 -mb-8 md:mb-0 border-2 border-blue-500;
}
.heroText {
  @apply flex flex-col items-center text-center gap-1 lg:gap-2.5 mt-7 md:mt-10 lg:mt-12;
  & h1 {
    @apply text-xl md:text-2xl lg:text-5xl font-hero-title text-text-primary font-extrabold;
  }
  & h2 {
    @apply text-base  lg:text-2xl font-hero-title text-text-primary font-extrabold;
  }
  & p {
    @apply w-5/6 md:w-full lg:w-4/6 text-sm md:text-xs lg:text-base font-subtitle text-text-primary font-bold;
  }
  & h4 {
    @apply text-xs  lg:text-base font-cta text-text-primary;
  }
  & h5 {
    @apply text-[0.6875rem] lg:text-sm font-cta text-text-primary;
    & br {
      @apply block lg:hidden;
    }
    & span {
      @apply text-orange;
    }
  }
}
.button-hero {
  @apply text-text-primary font-button font-bold text-xl lg:text-3xl w-full md:w-2/3 py-1 lg:py-4 hover:bg-(--color-button-bg) transition-all duration-300 pointer-events-auto;
  background-image: var(--bg-dots-button);
  background-size: var(--bg-dots-size);
}
.giftImage {
  @apply relative w-full aspect-square mt-10 md:mt-4 lg:mt-0;
  & img {
    @apply absolute inset-0 w-full h-full object-cover -top-8 md:top-0 -mb-8 md:mb-0;
  }
}
/*ESTILOS NAVBAR Y MENU DESPLEGABLE*/
.navbar {
  @apply hidden fixed w-3/5 md:flex items-center justify-between py-1 px-6 bg-cream/80 shadow-[0_6px_6px_-4px_rgba(0,0,0,0.3)] pointer-events-auto cursor-pointer z-120;
  & img {
    @apply w-10 h-auto md:w-6 lg:w-12;
  }
  & h6 {
    @apply text-[0.6875rem] lg:text-sm font-button text-text-primary;
  }
}
.iconMenu {
  @apply fixed top-3 left-3 block md:hidden w-8 h-auto pointer-events-auto z-120;
}

.menu {
  @apply bg-cream/80 border-b-4 border-ink text-xs w-28 pl-4 pr-2 py-2 rounded-lg shadow-lg pointer-events-auto;
  & img {
    @apply w-10 h-auto -ml-1.5 mt-0.5;
  }
  & h6 {
    @apply text-sm font-button text-text-primary py-1 cursor-pointer;
  }
}
.showMenu {
  @apply fixed top-0 left-0 z-130 md:hidden;
}
/*ESTILOS CONTENEDORES*/
/*ESTILOS CONTENEDOR SERVICIOS  PROYECTOS Y FILOSOFIA*/
.services-projects-philosophy-container {
  @apply border-2 border-green-700 w-full relative;
  & img {
    @apply max-w-24 h-auto md:max-w-44 lg:max-w-96;
  }
  & p {
    @apply text-xs md:text-sm lg:text-lg mt-2 lg:mt-12 w-full mb-2.5 lg:mb-4 text-justify;
  }
}
.servicesLayout {
  @apply -mt-22 md:-mt-18 lg:-mt-36;
}
.projectsLayout {
  @apply -mt-26 md:-mt-76 lg:-mt-144;
}
.philosophyLayout {
  @apply -mt-20 md:-mt-30 lg:-mt-48;
}
/*ESTILOS DE CONTENEDOR BENEFICIOS Y PROCESOS */
.benefits-process-container {
  & section {
    @apply flex items-center justify-center w-full;

    & img {
      @apply block mx-auto max-w-full h-auto md:max-w-4/5 lg:max-w-full;
    }
  }

  & p {
    @apply text-xs md:text-sm lg:text-lg mt-2 md:mt-3 lg:mt-4 w-full mb-2.5 lg:mb-4 text-justify;
  }
}

/*ESTILOS CARDS CONTAINER SERVICIOS Y BENEFICIOS*/
.services-benefits-cards-container {
  @apply flex flex-col md:flex-row md:flex-wrap gap-2 justify-center items-center mb-4 lg:mb-6;
}
/*ESTILOS CARD SERVICIOS*/
.serviceCardContainer {
  @apply rounded-2xl w-11/12 h-72 md:w-90 md:h-86 lg:w-90 lg:h-132 flex flex-col justify-center items-center m-auto transition-all duration-300;
  background-image: var(--bg-dots-card);
  background-size: var(--bg-dots-size);
}

.serviceCardContainer:hover {
  background-image: var(--bg-dots-hover-card);
  transform: scale(1.03) translateY(-4px);
}
.serviceCard {
  @apply bg-cream rounded-2xl w-11/12 h-11/12 md:w-10/12  flex flex-col p-2 lg:p-4;
  & h3 {
    @apply font-subtitle text-title font-bold text-lg lg:text-xl;
  }
}
.serviceCardContent {
  @apply flex flex-1 flex-row lg:flex-col items-center lg:items-stretch gap-2 h-full;
}
.serviceCardHeader {
  @apply w-2/5 lg:w-full flex lg:flex-col h-full;
  & h6 {
    @apply hidden lg:block font-subtitle text-sm lg:text-base;
  }
  & div {
    @apply flex flex-1 items-center justify-center lg:min-h-52;
    & img {
      @apply w-full h-auto max-w-32 lg:max-w-52;
    }
  }
}
.serviceCardText {
  @apply w-3/5 lg:w-full flex flex-col justify-around h-full text-left lg:text-justify mr-2 leading-relaxed;
  & h6 {
    @apply block lg:hidden font-subtitle text-xs;
  }
  & p {
    @apply text-xs lg:text-sm lg:mt-auto mb-1;
  }
}
.serviceCardHighlights {
  @apply flex flex-col mt-auto;
  & span {
    @apply font-button text-sm lg:text-base text-magenta font-semibold;
  }
}
/*ESTILOS CARD BENEFICIOS*/
.benefitCardContainer {
  @apply rounded-2xl w-11/12 h-52 md:w-90 lg:w-90 lg:h-100 flex flex-col justify-center items-center m-auto transition-all duration-300;
  background-image: var(--bg-dots-card);
  background-size: var(--bg-dots-size);
}
.benefitCardContainer:hover {
  background-image: var(--bg-dots-hover-card);
  transform: scale(1.03) translateY(-4px);
}
.benefitCard {
  @apply bg-cream rounded-2xl w-11/12 h-11/12 md:w-10/12 flex flex-col p-2 lg:p-4 items-start;
}
.benefitCardHeader {
  @apply flex flex-col w-full;
  & h3 {
    @apply font-subtitle text-title font-bold text-lg lg:text-xl w-full text-left;
  }
  & h5 {
    @apply text-sm lg:text-base font-cta text-subtitle w-full text-left;
  }
}
.benefitCardContent {
  @apply flex flex-1 flex-row lg:flex-col items-center lg:items-stretch gap-2 h-full;
  & img {
    @apply w-1/3 h-auto lg:w-3/5;
  }
  & p {
    @apply text-xs lg:text-sm mt-2 lg:mt-4 text-left lg:text-justify leading-relaxed;
  }
}
.benefitCardHighlight {
  @apply w-full mt-auto font-button text-sm lg:text-base text-magenta font-semibold;
}
/*CTA SERVICIOS Y BENEFICIOS*/
.service-benefits-ctaContainer {
  @apply w-full flex flex-col items-end;
  & section {
    @apply border-2 border-yellow w-full md:w-1/3 lg:w-1/3 flex flex-col items-center mt-0 md:mt-2 lg:mt-14;
  }
}

/*ESTILOS PROYECTOS */
.projectsContainer {
  @apply w-full flex flex-row items-center justify-around;
  & img {
    @apply w-0 md:w-14 lg:w-18
    h-auto
    md:pointer-events-auto
    cursor-pointer;
  }
}
/*carrusel de cards */
.carouselWrapper {
  @apply overflow-hidden w-full pointer-events-auto cursor-pointer;
}
.carouselTrack {
  @apply flex;
  transition: transform 0.6s ease-in-out;
}
/*dots del carrusel*/
.carouselDots {
  @apply flex justify-center items-center gap-2 my-4;
}
.carouselDot {
  @apply w-1.5 h-1.5 md:w-2 md:h-2 lg:w-2.5 lg:h-2.5 rounded-full bg-stone transition-all duration-300;
}
.activeDot {
  @apply bg-button-bg scale-125;
}
/*cards de proyectos */
.projectCard {
  @apply border-2 border-amber-600 min-w-full;
  & picture {
    @apply block w-full relative pointer-events-none top-0 lg:top-6;
    & img {
      @apply w-full scale-200 object-contain origin-top-left lg:origin-left;
    }
  }
}
.projectCardContent {
  @apply relative z-10;
}
.projectCardHead {
  @apply gap-4 my-4 md:-mt-7 lg:-mt-10 md:pl-[54%] lg:pl-[57%];
  & h2 {
    @apply text-title font-bold font-subtitle text-xl lg:text-4xl;
  }
  & h4 {
    @apply text-subtitle text-sm lg:text-lg font-cta;
  }
}
.projectCardBody {
  @apply flex flex-col mt-10 md:mt-5 lg:mt-10 gap-4;
}
.projectCard-sectionImages {
  @apply flex w-full items-center justify-around order-1 md:order-2;
  & img {
    @apply min-w-30 md:min-w-52 lg:min-w-96 h-auto;
  }
}
.projectCard-sectionDetails {
  @apply order-2 md:order-1 gap-0;
}
.detailContent {
  @apply w-full flex flex-col md:flex-row items-center gap-0 md:gap-2.5;
  & div {
    @apply items-center justify-center w-full md:w-1/3 lg:w-1/4;
    background-image: var(--bg-dots-card);
    background-size: var(--bg-dots-size);
    & h6 {
      @apply pl-2 pt-1 pb-4 lg:pb-6 text-sm md:text-base lg:text-xl font-button;
    }
  }
  & p {
    @apply w-full md:w-2/3 lg:w-3/4 lg:m-4;
  }
}
.projectCard-sectionHighlights {
  @apply w-full items-end flex flex-col mt-2;
  & span {
    @apply font-button text-sm lg:text-xl text-magenta font-semibold;
  }
}

/*ESTILOS DE PROCESOS*/
/*contenedor*/
.processesAndPhilophyContainer {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mx-4 gap-4 justify-items-center;
}
/*card procesos*/
.process {
  @apply bg-cream rounded-2xl w-full relative overflow-hidden min-h-28 lg:min-h-34;
  & picture {
    @apply absolute left-0 -top-1 h-full pointer-events-none;
    & img {
      @apply h-30 lg:h-36 w-auto object-contain;
    }
  }
}
.processContent {
  @apply absolute inset-0 z-10 flex flex-col items-start h-full pl-[25%] lg:pl-[33%] pr-2 lg:pr-4 pb-0 mb-0;
}
.processCardHead {
  @apply flex flex-col items-start justify-start self-start text-left w-full m-0 p-0;
  & h2 {
    @apply text-text-strong font-bold font-subtitle text-lg md:text-2xl lg:text-3xl m-0 p-0 leading-none text-left w-full;
  }
  & h4 {
    @apply text-subtitle text-sm md:text-base lg:text-lg font-cta m-0 p-0 leading-none text-left w-full;
  }
}
.processCardBody {
  @apply flex-1 flex flex-col justify-end w-full min-h-0 pb-0 mb-0;
  & p {
    @apply font-body text-ink text-[0.8rem] md:text-xs lg:text-sm text-left md:text-justify leading-tight tracking-wide;
  }
}
/*CTA proyectos y Procesos */
.projects-processes-ctaContainer {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 lg:items-center w-full px-4 gap-4 relative top-0 md:-top-24 lg:-top-26 mb-0 md:-mb-24 lg:-mb-26 bg-linen md:bg-transparent pb-2 md:pb-4 border-2;
  & section {
    @apply w-full flex flex-col items-center gap-2 md:col-start-2 lg:contents;
    & span {
      @apply lg:col-start-2;
    }
    & button {
      @apply lg:col-start-3;
    }
  }
}

/*ESTILOS CARD FILOSOFIA-FORMA DE PENSAR*/
.philosophy {
  @apply border-2 border-green-700 w-full relative overflow-hidden min-h-28 lg:min-h-34 flex items-center justify-center;
  & picture {
    @apply absolute h-full pointer-events-none;
    & img {
      @apply h-27 lg:h-33 w-auto object-contain;
    }
  }
}
.philosophyContent {
  @apply absolute inset-0 z-10 flex flex-col items-start h-full;
}
.philosophyCardHead {
  @apply flex flex-col items-center justify-center text-center w-full pt-2;
  & h2 {
    @apply text-xs md:text-sm leading-none font-cta;
  }
}
.philosophyCardBody {
  @apply flex-1 flex flex-col justify-center w-full min-h-0 pb-0 mb-0;
  & p {
    @apply font-body text-ink text-[0.8rem] md:text-xs lg:text-sm text-left md:text-justify leading-tight tracking-wide;
  }
}
/*estilos card forma de pensar final*/
.philosophyFinally {
  @apply border-2 border-green-700 w-full relative overflow-hidden min-h-28 lg:min-h-40 flex items-center justify-center;
  & picture {
    @apply absolute h-full pointer-events-none;
    & img {
      @apply h-27 lg:h-40 w-auto object-contain;
    }
  }
}
.philosophyFinallyContent {
  @apply absolute inset-0 z-10 flex flex-col items-center justify-center h-full text-center w-full;
  & p {
    @apply w-full font-body text-ink text-xs md:text-sm lg:text-xl text-center leading-tight tracking-wide pt-1;
  }
  & h6 {
    @apply font-cta text-base md:text-xl lg:text-3xl text-text-strong w-full md:w-5/6 mb-2 md:mb-3 lg:mb-10;
    & span {
      @apply font-bold;
    }
  }
}
/* :root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  margin: 0;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
} */
